#not-found-page {
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.box {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.home {
    text-align: center;
    font-size: 2rem;
}

.no-decoration {
    color: white;
    cursor: pointer;
}