#rewards-list {
    background-color: rgb(90, 90, 90);
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
}

.header {
    padding-top: 2rem;
}

.list {
    max-height: 15rem;
    overflow-x: hidden;
    overflow-y: auto;
}


.list-row {
    border-bottom: 1px solid rgb(90, 90, 90);
    border-top: 1px solid rgb(90, 90, 90);
    background-color: rgb(153, 153, 153);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-row:first-child {
    border-top: none;
}

.list-row:last-child {
    border-bottom: none;
}

.edit-input {
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.btn-kart {
    background-color: rgb(202, 112, 3);
    border: none;
    color: black;
}

.btn-kart:hover {
    background-color: rgb(206, 141, 62);
    color: rgb(39, 39, 39);
    border: none;
}

.btn-kart:disabled {
    background-color: rgb(90, 90, 90);
    cursor: not-allowed;
}

.fa-list {
    font-size: 1.5rem;
}

.fa-times {
    font-size: 1.5rem;
}

.confirm-input {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    text-align: center;
}

.btn-danger {
    background-color: #71010c;
    border: none;
    color: white;
}

.btn-edit {
    background-color: rgb(202, 112, 3);
    border: none;
    color: white
}